<nav  class="navbar navbar-expand-lg navbar-light"  style="background-color: #b3cbdd;">
  <a  class="navbar-brand"  href="#"></a>
  <div  class="collapse navbar-collapse"  id="navbarText">
  <ul  class="navbar-nav">
  <li  class="nav-item">
  <a  class="nav-link" routerLink="add">Add</a>
  </li>
  <li  class="nav-item">
  <a  class="nav-link" routerLink="view">View All Messages</a>
  </li>
  <li  class="nav-item">
  <a  class="nav-link"  routerLink="history">History</a>
  </li>

  </ul>
  </div>
  </nav>