<div class="content-page">
  <div class="content">
    <div class="container-fluid">


      <div class="row custom-table">
        <div class="col-xl-12 bg-light p-3">
          <div class="float-right pb-2"><button type="button" (click)="GetAllMessagesList()"
              class="btn btn-mute pxy-20-6"><i class="icon-refresh" aria-hidden="true"></i> Refresh</button></div>
          <div class="table-responsive">
            <table class="table table-striped table-bordered" [mfData]="messageList" #mf="mfDataTable"
              [mfRowsOnPage]="50">
              <thead>
                <tr>
                  <th scope="col">Title</th>
                  <th scope="col">Message</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let items of mf.data">
                  <td>{{items.title}}</td>
                  <td>{{items.message}}</td>
                  <td>

                    <button type="button" class="btn btn-info btn-sm"
                      (click)="OpenDeleteModalDialog(items)">Delete</button>
                    <button type="button" class="btn btn-info btn-sm" (click)="GetDetailOpenPopup(items)">Edit</button>
                    <button type="button" class="btn btn-info btn-sm"
                      (click)="GetDetailOpenSendPopup(items)">Send</button>
                  </td>
                </tr>

              </tbody>

            </table>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>




<div class="backdrop" [ngStyle]="{'display':displayDeleteDialog}"></div>

<div class="modal" tabindex="-1" role="dialog"  [ngStyle]="{'display':displayDeleteDialog}">

   <div class="modal-dialog" role="document">

       <div class="modal-content">

           <div class="modal-header">
        <h4 class="modal-title">Delete</h4>
               <button type="button" class="close" aria-label="Close" (click)="CloseDeleteModalDialog()"><span
            aria-hidden="true">&times;</span></button>
               
             
      </div>
           <div class="modal-body">
               <p>Are You Sure You want to Delete the Message</p>
             </div>

           <div class="modal-footer">
        <button type="button" class="btn btn-info" (click)="Delete()">Delete</button>
               <button type="button" class="btn btn-default" (click)="CloseDeleteModalDialog()">Close</button>

             </div>

         </div>

     </div>

</div>
<div class="backdrop" [ngStyle]="{'display':displaysendDialog}"></div>
<div class="modal" tabindex="-1" role="dialog"  [ngStyle]="{'display':displaysendDialog}">

   <div class="modal-dialog" role="document">

       <div class="modal-content">

           <div class="modal-header">
        <h4 class="modal-title">Send Notification</h4>
               <button type="button" class="close" aria-label="Close" (click)="CloseSendModalDialog()"><span
            aria-hidden="true">&times;</span></button>
             
      </div>
           <div class="modal-body">
               <p>Are You Sure You want to Send the Message</p>
        <form #notifications="ngForm" (ngSubmit)="notifications.valid && sendNotifications(notifications)">
          <label for="message">Message</label>
          <textarea required [(ngModel)]="setViewNotification.message" class="form-control noradius" id="message"
            name="message" rows="10" #message="ngModel"
            [ngClass]="{'is-invalid':message.invalid && message.touched, 'is-valid':message.valid}"
            [value]="setViewNotification.message">
        </textarea>
          <span class="invalid-feedback" *ngIf="message.errors?.required && message.touched">
            Please add some text for Notification
          </span>
          <div class="row">
            <div class="col-sm-12 text-right">
              <a class="btn btn-primary inner-btn mt-3" (click)="sendNotifications()"
                [class.disabled]="notifications.invalid">
                Send Notification
              </a>

            </div>
          </div>
              <div class="modal-footer">
            <button type="submit" class="btn btn-info">Delete</button>
            <button type="button" class="btn btn-default" (click)="CloseSendModalDialog()">Close</button>

                 </div>
        </form>
             
      </div>
         </div>

     </div>
</div>