<!-- main app container -->
<div class="jumbotron">
  <div class="container">
    <div class="row">
      <h2 style="margin: auto">Notifications Added</h2>
    </div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th class="hidden">Id</th>
          <th>Title</th>
          <th>Message</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let notification of notifications">
          <td class="hidden">{{notification.id}}</td>
          <td>{{notification.title}}</td>
          <td>{{notification.message}}</td>

          <td> <button class="btn btn-success" data-toggle="modal" title="Delete"
              (click)="openDeleteModalAndGetDetails(notification)">Delete</button> </td>
          <td> <button class="btn btn-success" data-toggle="modal"
              (click)="openModalAndGetDetails(notification)">Edit</button> </td>
          <td> <button class="btn btn-success" data-toggle="modal"
              (click)="openModalForSendNotification(notification)">Send</button> </td>
        </tr>
        <tr *ngIf="!notifications || notifications.length == 0">
            <td colspan="12" style="text-align: center">{{statusMessage}}</td>
          </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="backdrop" [ngStyle]="{'display':display}">
  <div class="modal" tabindex="-1" role="dialog"  [ngStyle]="{'display':display}">

     <div class="modal-dialog" role="document">

         <div class="modal-content">

             <div class="modal-header">
               <h4 class="modal-title">Edit</h4>
                 <button type="button" class="close" aria-label="Close" (click)="onCloseHandled()"><span
              aria-hidden="true">&times;</span></button>
            
               </div>
             <div class="modal-body">

               <form name="form" (ngSubmit)="editform.form.valid && editSubmit(editform)" #editform="ngForm" novalidate>
              <div class="form-group">
                  <label for="title">Title</label>
                  <input class="form-control" name="title" id="title" [(ngModel)]="viewNotification.title"
                    #title="ngModel" type="text" [ngClass]="{ 'is-invalid': editform.submitted && title.invalid }" required>
                    <div *ngIf="editform.submitted && message.invalid" class="invalid-feedback">
                        <div *ngIf="message.errors.required">Message is required</div>
                      </div>
                  
                </div>
            <div class="form-group">
              <label for="message">Message</label>
           
              <textarea  class="form-control" name="message"
                [(ngModel)]="viewNotification.message" #message="ngModel"
                [ngClass]="{ 'is-invalid': editform.submitted && message.invalid }" required></textarea>
              <div *ngIf="editform.submitted && message.invalid" class="invalid-feedback">
                <div *ngIf="message.errors.required">Message is required</div>
              </div>
            </div>
            <div class="form-group">
              <button class="btn btn-default" (click)="onCloseHandled()">Dismiss</button>
              <button class="btn btn-success">Save Changes</button>
            </div>
          </form>

               </div>

           </div>

       </div>

  </div>
</div>
<div class="backdrop" [ngStyle]="{'display':deletedisplay}">
  <div class="modal" tabindex="-1" role="dialog"  [ngStyle]="{'display':deletedisplay}">
     <div class="modal-dialog" role="document">

         <div class="modal-content">

             <div class="modal-header">
            <h4 class="modal-title">Delete</h4>
                 <button type="button" class="close" aria-label="Close" (click)="onCloseHandledDeletePopup()"><span
              aria-hidden="true">&times;</span></button>
               </div>

             <div class="modal-body">
          <p>Are you sure you want ot delete the Message??</p>
               
        </div>
         <div class="modal-footer">
          <button class="btn btn-default" (click)="onCloseHandledDeletePopup()">Dismiss</button>
          <button class="btn btn-success" (click)="delete()">Delete</button>
        </div>

           </div>

       </div>
  </div>
</div>
<div class="backdrop" [ngStyle]="{'display':senddisplay}">
  <div class="modal" tabindex="-1" role="dialog"  [ngStyle]="{'display':senddisplay}">
    <div class="modal" tabindex="-1" role="dialog"  [ngStyle]="{'display':senddisplay}">
       <div class="modal-dialog" role="document">
           <div class="modal-content">
              <div class="modal-header">
               <h4 class="modal-title">Send Notification</h4>
                   <button type="button" class="close" aria-label="Close" (click)="onCloseSend()"><span
                aria-hidden="true">&times;</span></button> 
                 </div>
               <div class="modal-body">
              <form name="form" (ngSubmit)="sendForm.form.valid && sendNotification(sendForm)" #sendForm="ngForm"
              novalidate>
              <div class="form-group">
                <label for="title">Title</label>
                <input class="form-control" name="title" id="title" [(ngModel)]="viewNotification.title"
                  #title="ngModel" type="text" readOnly>
              </div>


              <div class="form-group">
                <label for="message">Message</label>
                <!-- <input type="text" class="form-control" name="message" [(ngModel)]="saveNotificationRequest.message" #message="ngModel" [ngClass]="{ 'is-invalid': saveform.submitted && message.invalid }" required /> -->
                <textarea  class="form-control" name="message"
                  [(ngModel)]="viewNotification.message" #message="ngModel"
                  [ngClass]="{ 'is-invalid': sendForm.submitted && message.invalid }" required></textarea>
                <div *ngIf="sendForm.submitted && message.invalid" class="invalid-feedback">
                  <div *ngIf="message.errors.required">Message is required</div>
                </div>
              </div>
              <div class="form-group">
                <button class="btn btn-default" (click)="onCloseSend()">Dismiss</button>
                <button type= "submit" class="btn btn-success">Send</button>
              </div>
            </form>   
          </div>
             </div>

         </div>

    </div>
  </div>
</div>