
<div class="jumbotron">
    <div class="container">
      <div class="row">
        <h2 style="margin: auto">Notifications Added</h2>
      </div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th class="hidden">Id</th>
            <th>Title</th>
            <th>Message</th>
            <th>Date</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let notification of sentnotifications">
            <td class="hidden">{{notification.id}}</td>
            <td>{{notification.title}}</td>
            <td>{{notification.message}}</td>
          </tr>
          <tr *ngIf="!sentnotifications || sentnotifications.length == 0">
              <td colspan="12" style="text-align: center">{{statusMessage}}</td>
            </tr>
        </tbody>
      </table>
    </div>
  </div>