<!-- 
<a routerLink="/send"><h1> Send Push notifications</h1></a>
<a routerLink="/saveNotifications"><h1>Save Notifications</h1></a>
<router-outlet></router-outlet> -->

<app-header></app-header>
<div  class="container" >
    <router-outlet></router-outlet>
</div>
