<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <h3>Save Notifications</h3>
        <form name="form" (ngSubmit)="saveform.form.valid && saveSubmit(saveform)" #saveform="ngForm" novalidate>
          <div class="form-group">
            <label for="title">Title</label>
            <input class="form-control" name="title" id="title" [(ngModel)]="saveNotificationRequest.title"
              #title="ngModel" type="text" required>
          </div>
          <div class="form-group">
            <label for="message">Message</label>
            <textarea  class="form-control" name="message"
              [(ngModel)]="saveNotificationRequest.message" #message="ngModel" required></textarea>
          </div>
          <div class="form-group">
            <button type="button" class="btn btn-success" (click)="openPopup(saveform)">Send</button>
          </div>
          <div class="form-group">

            <button type="button" class="btn btn-success" (click)="reset(saveform)">Reset</button>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-success">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="backdrop" [ngStyle]="{'display':display}">
  <div class="modal" tabindex="-1" role="dialog"  [ngStyle]="{'display':display}">
     <div class="modal-dialog" role="document">
         <div class="modal-content">
            <div class="modal-header">
             <h4 class="modal-title">Send Notification</h4>
                 <button type="button" class="close" aria-label="Close" (click)="onCloseHandled()"><span
              aria-hidden="true">&times;</span></button>
              
               </div>
             <div class="modal-body">
            <form name="form" (ngSubmit)="sendForm.form.valid && sendNotification(sendForm)" #sendForm="ngForm"
            novalidate>
            <div class="form-group">
              <label for="title">Title</label>
              <input class="form-control" name="title" id="title" [(ngModel)]="viewNotification.title" #title="ngModel"
                type="text" readOnly>
            </div>

            <div class="form-group">
              <label for="message">Message</label>

              <textarea ng-model="saveNotificationRequest.message" class="form-control" name="message"
                [(ngModel)]="viewNotification.message" #message="ngModel"
                 required></textarea>
              
            </div>

            <div class="form-group">
              <button class="btn btn-default" (click)="onCloseHandled()">Dismiss</button>
              <button class="btn btn-success">Save And Send</button>
            </div>
          </form>
               
        </div>
           </div>

       </div>

  </div>
</div>